<%= form_with(model: house, local: true) do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :house_address %>
  </div>

  <div class="field">
    <%= form.label :bedrooms %>
    <%= form.number_field :bedrooms, id: :house_bedrooms %>
  </div>

  <div class="field">
    <%= form.label :baths %>
    <%= form.text_field :baths, id: :house_baths %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :house_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
